.form-login-wrapper {
	height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1497733942558-e74c87ef89db?dpr=1&auto=compress,format&fit=crop&w=1650&h=&q=80&cs=tinysrgb&crop=");
}
.login-form {
	display: flex;
	height: 100%;
	align-items: center;
}
.loginOverlay {
  background:rgba(33,150,243,0.3);
}

.pagination-style {
	 display: inline-block;
}

.pagination-style  a{
	 color: black;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
}

.pagination-style a:hover:not(.active) {background-color: #ddd;}

.pagination-style a {
    border: 1px solid #ddd; /* Gray */
}

.paging-bottom {
	text-align: center;
	width :50%;
	float: right;
}

.page.secondary-color {
	background-color: #ef6c00;
}

.ntf-pagination {
	width :50%;
	float: left;
}

.notification-dropdown-form-control {
	width:20%;
}

.mx-input-append{
	height: 35px !important;
}

.group-bottom{
	margin-bottom: 0px;
}

.v-navigation-drawer>.v-list .v-list__tile {
	text-decoration: none;
}
